:host {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    header {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px;
        border-bottom: solid 1px #efefef;

        h3 {
            flex: 1 1;
        }
    }

    .form-item {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}