<header>
    <h2>Applications list</h2>

    <div class="space"></div>

    <input pInputText type="text" placeholder="Search by name">
    <button pButton label="Create Application" class="p-button"></button>
</header>

<p-table [value]="(applications$ |async)!" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-app>
        <tr applicationsListRow [routerLink]="[app.id]" [application]="app"> </tr>
    </ng-template>
</p-table>